.mcontainer {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.mlogo-containers {
  align-self: start;
  justify-self: start;
}

.mrounded {
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
